<div class="login">
<h2>LOG IN to Your Account</h2>
<br>
<form action="<%= session_url %>" method="POST">
    <label>Email: 
        <input type="text" name="user[email]" value="" >
    </label>

    <br>

    <label>Password: 
        <input type="password" name="user[password]" value="" >
    </label>

    <br>

    <input type="submit" value="LOG IN" >
</form>
</div>