.main-nav {
    display: flex;
    justify-content: horizontal;
    
    padding-top:10px ;
    
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: vertical;
}

.left-nav {

  > ul {
    > li {
        font-family: ;

    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
